<!--script type="text/javascript">
  require('app');
</script-->

<script type="text/x-handlebars" data-template-name="app-tpl">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">Scorer</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      {{outlet}}
    </div>
  </div>
</script>
<i class="icon"></i>
<script type="text/x-handlebars" data-template-name="select-team-tpl">
  <div class="span6">
    <div class="team team-{{unbound view.contentIndex}} well">

      <h3>Team {{view.niceIndex}}</h3>
      <ul>
        {{#each view.players}}
          <li><a {{action togglePlayer}} class="btn" data-player-handle="{{unbound handle}}">{{handle}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
</script>
<script type="text/x-handlebars" data-template-name="game-tpl">
  <div class="row">
    <div class="span12">
      <div class="well">
        <a {{action finishMatch}} class="btn btn-large finish-match">Finish match <i class="icon-chevron-right"></i></a>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="span12">
        <ul class="game">
          <li><a {{action pointWon}} class="score-1">{{controller.game.score1}}</a></li>
          <li><a {{action pointWon}} class="score-2">{{controller.game.score2}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="game-results-tpl">
  
</script>

<script type="text/x-handlebars" data-template-name="results-tpl">
  
</script>

<script type="text/x-handlebars" data-template-name="leaders-tpl">
  
</script>

<script type="text/x-handlebars" data-template-name="message-tpl">
  
</script>
