<script type="text/javascript">
  require('app');
</script>
<script type="text/x-handlebars" data-template-name="application">
  <div class="row">
    <div class="span2">
      <ul class="nav nav-tabs nav-stacked">
        <li><a href="/#/players">Players</a></li>
        <li><a href="/#/results">Results</a></li>
      </ul>
    </div>
    <div class="span10">
      {{ outlet }}
    </div>
  </div>
</script>
<script type="text/x-handlebars" data-template-name="players">
  {{#each player in controller}}
    <ul>
      <li><a href="/#/player/{{unbound player.id}}">{{player.first_name}}</a></li>
    </ul>
  {{/each}}
</script>
