<script type="text/javascript">
  require('app');
</script>

<script type="text/x-handlebars" data-template-name="app-tpl">
  <div class="row">
    <div class="span12">
      {{outlet}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="start-tpl">
  <a {{action startGame}} class="btn btn-large btn-success">START GAME</a>  
</script>

<script type="text/x-handlebars" data-template-name="game-tpl">
  <ul class="game">
    <li><a {{action pointWon}} class="score-1">{{controller.game.score1}}</a></li>
    <li><a {{action pointWon}} class="score-2">{{controller.game.score2}}</a></li>
  </ul>
</script>

<script type="text/x-handlebars" data-template-name="game-results-tpl">
  
</script>

<script type="text/x-handlebars" data-template-name="results-tpl">
  
</script>

<script type="text/x-handlebars" data-template-name="leaders-tpl">
  
</script>

