
<script type="text/x-handlebars" data-template-name="app-tpl">
  <div class="row">
    <div class="span12">
      {{outlet}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="start-tpl">
  <div class="row">
    <div class="span12">
      <div class="row start-game">
        {{collection App.TeamsView itemViewClass="App.ATeamView"}}
      </div>
        <a href="#" class="btn btn-large" {{action results}}>Results</a>
        {{#view view.actionView}}Lets play! <i class="icon-chevron-right"></i>{{/view}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="select-team-tpl">
  <div class="span6">
    <div class="team team-{{unbound view.contentIndex}} well">
      <i class="icon-ok-sign"></i>
      <h3>Team {{view.niceIndex}}</h3>
      <ul>
        {{#each p in view.players}}
          <li><a {{action togglePlayer p target="view"}} class="btn" data-team="team-{{unbound view.niceIndex}}" data-player-handle="{{unbound p.handle}}">{{p.fullName}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="game-tpl">
  <div class="row">
    <div class="span12">
      <div class="well">
        <a {{action finishMatch}} class="btn finish-match">Finish match <i class="icon-chevron-right"></i></a>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="span12">
        <ul class="game">
          <li><a {{action pointWon target="controller.game"}} class="score-1 serving">{{controller.match.player1.fullName}} {{controller.game.score1}}</a></li>
          <li><a {{action pointWon target="controller.game"}} class="score-2">{{controller.match.player2.fullName}} {{controller.game.score2}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="game-results-tpl">
  
</script>

<script type="text/x-handlebars" data-template-name="results-tpl">
  <h1>Results</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Player 1</th>
        <th>Score</th>
        <th>Score</th>
        <th>Player 2</th>
        <th>Date/Time</th>
      </tr>
    </thead>
    <tbody>

      {{#each game in controller}}
          <tr class="result">
            <td>{{game.match.player1.fullName}}</td>
            <td>{{game.score1}}</td>
            <td>{{game.score2}}</td>
            <td>{{game.match.player2.fullName}}</td>
            <td>{{game.createdAt}}</td>
          </tr>
      {{/each}}

    </tbody>
  </table>

  <a href="#" class="btn btn-large" {{action back}}>Back</a>
</script>

<script type="text/x-handlebars" data-template-name="leaders-tpl">
  
</script>

<script type="text/x-handlebars" data-template-name="message-tpl">
  
</script>
