
<script type="text/x-handlebars" data-template-name="app-tpl">
  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="start-tpl">
  <div class="row">
    <div class="span12">
      <div class="row start-game">
        {{collection App.TeamsView itemViewClass="App.ATeamView"}}
      </div>
        {{#view view.actionView}}Lets play! <i class="icon-chevron-right"></i>{{/view}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="select-team-tpl">
  <div class="span6">
    <div class="team team-{{unbound view.contentIndex}} well">
      <i class="icon-ok-sign"></i>
      <h3>Team {{view.niceIndex}}</h3>
      <ul>
        {{#each p in view.players}}
          <li><a {{action togglePlayer p target="view"}} class="btn" data-team="team-{{unbound view.niceIndex}}" data-player-handle="{{unbound p.handle}}">{{p.fullName}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="game-tpl">
  <div class="row">
    <div class="span12">
      <div class="well">
        <a {{action finishMatch}} class="btn finish-match">Finish match <i class="icon-chevron-right"></i></a>
      </div>
    </div>
    </div>
    <div class="row">
      <div class="span12">
        <ul class="game">
          <li>
            <span class="full-name">{{controller.match.player1.fullName}}</span>
            <a {{action pointWon target="controller.game"}} class="score-1 serving">
              {{controller.game.score1}}</a>
          </li>
          <li>
            <span class="full-name">{{controller.match.player2.fullName}}</span>
            <a {{action pointWon target="controller.game"}} class="score-2">
            {{controller.game.score2}}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="game-results-tpl">
  
</script>

<script type="text/x-handlebars" data-template-name="results-tpl">
  <div class="row">
    <div class="span12">
      <div class="well">
        <div class="page-header">
          <h1>All Results</h1>
        </div>
        {{#each match in controller}}
          {{#if match.games}}
            <h2>Match #{{match.id}}</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Player 1</th>
                  <th>Score</th>
                  <th>Score</th>
                  <th>Player 2</th>
                </tr>
              </thead>
              <tbody>
                {{#each game in match.games}}
                  <tr class="result">
                    <td>{{match.player1.fullName}}</td>
                    <td>{{game.score1}}</td>
                    <td>{{game.score2}}</td>
                    <td>{{match.player2.fullName}}</td>
                  </tr>
                {{/each}}
              </tbody>
            </table>
          {{/if}}
        {{/each}}
        <a href="#" class="btn btn-large" {{action back}}>Back</a>
      </div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="leaders-tpl">

</script>

<script type="text/x-handlebars" data-template-name="message-tpl">
  
</script>
