<!--script type="text/javascript">
  require('app');
</script-->

<script type="text/x-handlebars" data-template-name="app-tpl">
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">Scorer</a>
        <a {{action finishMatch}} class="btn btn-small pull-right finish-match">Finish match <i class="icon-ok-sign"></i></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      {{outlet}}
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="select-team-tpl">
  <div class="span6">
    <div class="team team-1 well">
      <h3>Team</h3>
      <ul>
        {{#each player in players}}
          <li><a href="#" class="btn">{{player.handle}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
</script>

<script type="text/x-handlebars" data-template-name="game-tpl">
  <ul class="game">
    <li><a {{action pointWon}} class="score-1">{{controller.game.score1}}</a></li>
    <li><a {{action pointWon}} class="score-2">{{controller.game.score2}}</a></li>
  </ul>
</script>

<script type="text/x-handlebars" data-template-name="game-results-tpl">
  
</script>

<script type="text/x-handlebars" data-template-name="results-tpl">
  
</script>

<script type="text/x-handlebars" data-template-name="leaders-tpl">
  
</script>

<script type="text/x-handlebars" data-template-name="message-tpl">
  
</script>
