// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';
@import 'bootstrap-responsive';

body {
  background: #eee;
  position: relative;
}

.game {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    a {
      background: green;
      border: 2px solid white;
      color: white;
      display: block;
      font-size: 100px;
      height: 300px;
      line-height: 300px;
      text-align: center;
      width: 100%;
      &:hover {
        color: black;
        text-decoration: none;
      }
    }
  }
}
