// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';
@import 'bootstrap-responsive';

body {
  background: #eee;
  position: relative;
  padding: 60px 0 40px;
}

.app-view {
  .finish-match {
    display: none;
  }
  .playing {
    .finish-match {
      display: block;
    }
  }
}

.game {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    border: 8px solid white;
    &:first-child {
      border-bottom: none;
    }
    a {
      background: green;
      cursor: pointer;
      color: white;
      display: block;
      font-size: 100px;
      height: 300px;
      line-height: 300px;
      text-align: center;
      width: 100%;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
      &:hover {
        color: black;
        text-decoration: none;
      }
    }
  }
}
