// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';
@import 'font-awesome';
@import 'bootstrap-responsive';

body {
  background: #eee;
  position: relative;
  padding: 60px 0 40px;
}

.app-view {
  .finish-match {
    opacity: 0;
    -webkit-transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
  }
  &.playing {
    .finish-match {
      opacity: 1;
    }
  }
}

.start-game {
  .team {
    position: relative;
    .icon-ok-sign {
      color: #ddd;
      font-size: 29px;
      position: absolute;
      right: 10px;
      top: 10px;
      &.all-good {
        color: green;
      }
    }
    h3 {
      margin-top: 0;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
      }
    }
  }
}

.game {
  list-style: none;
  margin: 0;
  //padding: 0;
  li {
    border: 8px solid white;
    &:first-child {
      border-bottom: none;
    }
    a {
      background: green;
      cursor: pointer;
      color: white;
      display: block;
      font-size: 100px;
      height: 300px;
      line-height: 300px;
      text-align: center;
      width: 100%;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -o-user-select: none;
      user-select: none;
      &:hover {
        color: #ccc;
        text-decoration: none;
      }
    }
  }
}
