<!DOCTYPE html>
<html>
<head>
  <title>Scorer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Scorer</a>
        <ul class="nav">
          <li><a href="/players">Add Players</a></li>
          <li><a href="/#/results">Results</a></li>
          <li><a href="leaders">Leaderboard</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container" id="app">
    <%= yield %>
  </div>

<%= javascript_include_tag "application" %>
</body>
</html>
